Repository RedactedCoder23/AOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black, flake8, eslint, trailing-whitespace, end-of-file-fixer, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: '\\.(c|h)$'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: npm --prefix ui run lint -- --fix
        language: system
        types: [javascript]
        pass_filenames: false
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        files: '\\.(py|c|h)$'
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        files: '\\.(py|c|h|sh|md|txt)$'
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: python
        files: '\\.(yaml|yml)$'

feat(rollback): endpoint + UI + e2e [agent-mem]
  src/api/branches.py
  src/service/queue.py
  tests/e2e/rollback.spec.ts
  ui/src/pages/BranchDetail.tsx
Due: black, flake8

chore(sweep): remove CLI gif
  README.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts/aos.py
  ui/.prettierrc
  ui/package.json
  ui/src/RoleGuard.tsx
  ui/src/__tests__/branchList.test.tsx
  ui/src/__tests__/roleGuard.test.tsx
  ui/src/main.tsx
  ui/src/pages/AdminPage.tsx
  ui/src/pages/BranchDetail.tsx
  ui/src/pages/BranchList.tsx
  ui/src/services/api.ts
Due: black, flake8

chore(sweep): post-merge cleanup [agent-mem]
  providers.json
  requirements.txt
  tests/e2e/rollback.spec.ts
  ui/api.js
  ui/app.js
  ui/desktop.js
  ui/eslint.config.js
  ui/jest.config.js
  ui/metrics.js
  ui/src/__tests__/marketplace.test.tsx
  ui/src/components/BranchDiff.tsx
  ui/src/main.tsx
  ui/src/pages/BranchDetail.tsx
  ui/src/pages/Marketplace.tsx
  ui/src/services/api.ts
  ui/vite.config.ts
Due: eslint

refactor(obs): export symbols in prom_exporter [agent-mem]
  .env.example
  docs/INDEX.md
  docs/configuration.md
  docs/security.md
  playwright.config.ts
  src/observability/prom_exporter.py
  ui/package.json
Due: black, flake8

docs: update architecture and agent
  AGENT.md
  ARCHITECTURE.md
  docs/openapi.json
  requirements-dev.txt
  scripts/recover_fs.py
  src/api/branches.py
  src/api/coverage.py
  src/api/coverage_history.py
  src/api/errors.py
  src/api/health.py
  src/api/memory.py
  src/api/metrics.py
  src/api/profiler.py
  src/api/ws.py
  src/branch/merge.py
  src/branch/policy.py
  src/db/branch_repo.py
  src/fs/__init__.py
  src/fs/cache.py
  src/logging/__init__.py
  src/logging/audit.py
  src/logging/logger.py
  src/memory/__init__.py
  src/memory/allocator.py
  src/memory/monitor.py
  src/models/branch.py
  src/security/__init__.py
  src/security/crypto.py
  src/security/jwt.py
  src/security/permissions.py
  tests/python/test_fs_basic.py
  tests/python/test_memory_api.py
  tests/python/test_three_way_merge.py
  tests/stress/test_fs_stress.py
  tests/test_benchmark.py
  tests/test_merge_hypothesis.py
Due: black, flake8

Update README.md
  README.md
Due: none

fix(build): minimal kernel and deps
  .github/workflows/ci.yml
  AGENT.md
  Makefile
  PATCHLOG.md
  bare_metal_os/Makefile
  bare_metal_os/kernel.c
  bare_metal_os/serial.c
  bare_metal_os/serial.h
  bare_metal_os/traps.h
  include/syscalls.h
  scripts/bootstrap.sh
  scripts/tests/test_boot.sh
Due: none

Implement basic config loader for bare metal
  bare_metal_os/config_stub.c
Due: none

dev subsystem registration
  subsystems/dev/README.md
  subsystems/dev/dev.c
  subsystems/dev/dev.h
Due: none

security: implement ACL lookup
  subsystems/security/security.c
  subsystems/security/security.h
Due: none

docs: archive profiler usage stub
  docs/ARCHIVE/profiler_usage.md
  docs/INDEX.md
  docs/README.md
Due: none

chore: harden branch VM demo script
  examples/branch_vm_demo.sh
Due: none

Add minimal GNU-EFI loader
  Makefile
  bare_metal_os/efi/loader.c
Due: none

ai: implement host pipeline hooks
  include/ipc.h
  include/syscall.h
  src/ipc_host.c
  src/syscall.c
  subsystems/ai/ai.c
  subsystems/ai/ai.h
Due: none

kernel repl branch commands
  bare_metal_os/interpreter/command_interpreter.c
Due: none

feat(ipc): centralise syscall ids
  include/ipc.h
  src/syscall.c
  tests/branch_ipc.c
  tests/ipc_host_integration.c
Due: none

fix: silence kernel warnings
  bare_metal_os/Makefile
  bare_metal_os/fs.c
  bare_metal_os/fs_bare.h
  bare_metal_os/interpreter/command_interpreter.c
  bare_metal_os/kernel.c
  bare_metal_os/memory.c
  bare_metal_os/memory.h
  include/command_interpreter.h
  include/interpreter.h
  scripts/generate_aos_mappings.py
Due: black, flake8

docs: move dev container and agent log
  ARCHITECTURE.md
  CONTRIBUTING.md
  PROJECT_LAYOUT.md
  SECURITY.md
  docs/INDEX.md
  docs/README.md
  docs/dev/.devcontainer.json
  docs/dev/AGENT.md
  subsystems/dev/README.md
  subsystems/net/README.md
  subsystems/security/README.md
Due: none

fix(ci): update deps and tests
  .github/workflows/ci.yml
  Makefile
  bare_metal_os/Makefile
  bare_metal_os/tests/test_build.c
  examples/ai_service_demo.sh
  examples/aicell_demo.sh
  examples/app_demo.sh
  examples/branch_fed_demo.sh
  examples/dashboard_demo.sh
  examples/fs_smoke.sh
  examples/iso_demo.sh
  examples/memory_demo.sh
  examples/net_echo_demo.sh
  examples/net_echo_test.sh
  examples/net_http_demo.sh
  examples/persist_restore_demo.sh
  examples/plugin_demo.sh
  examples/plugin_smoke.sh
  examples/policy_demo.sh
  examples/policy_smoke.sh
  scripts/bootstrap.sh
  scripts/tests/test_boot.sh
  src/api/__init__.py
Due: black, flake8
