Repository RedactedCoder23/AOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, black, flake8, eslint, trailing-whitespace, end-of-file-fixer, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i
        language: system
        files: '\\.(c|h)$'
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: eslint
        name: eslint
        entry: npm --prefix ui run lint -- --fix
        language: system
        types: [javascript]
        pass_filenames: false
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        files: '\\.(py|c|h)$'
      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        files: '\\.(py|c|h|sh|md|txt)$'
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: python
        files: '\\.(yaml|yml)$'

chore: final cleanup and v0.2.0 prep
  .pre-commit-config.yaml
  AGENT.md
  README.md
  bare_metal_os/kernel.c
  docs/README.md
  requirements-dev.txt
  scripts/__init__.py
  scripts/agent_orchestrator.py
  scripts/branch_ui.py
  scripts/kernel_ipc.py
  scripts/tests/test_agent_orchestrator.py
  scripts/tests/test_branch_lifecycle.py
  scripts/tests/test_branch_ui.py
  src/audit.c
  src/branch_syscalls.c
  src/ipc_host.c
  src/syscall.c
  tests/python/test_ai_backend.py
  tests/python/test_ai_cred_client.py
  tests/python/test_merge_ai.py
  tests/python/test_merge_ai_split.py
  tests/python/test_negative_paths.py
  ui/desktop.js
Due: black, flake8, eslint

Add advanced orchestrator and AI provider plugins
  docs/ai_plugin.md
  providers.json
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/ai_providers/__init__.py
  scripts/ai_providers/base.py
  scripts/ai_providers/mock_provider.py
  scripts/ai_providers/openai_provider.py
  scripts/branch_ui.py
  scripts/merge_ai.py
  scripts/tests/test_agent_orchestrator_advanced.py
  tests/python/test_ai_backend.py
  tests/python/test_ai_provider_plugins.py
  ui/app.js
Due: black, flake8, eslint

Add coverage insights and UI optimizations
  docs/performance.md
  scripts/agent_orchestrator.py
  scripts/bench_branch_create.py
  scripts/branch_ui.py
  scripts/tests/test_quality_insights.py
  ui/api.js
  ui/app.js
  ui/index.html
Due: black, flake8, eslint

Bump version to v0.3.0 and update docs
  AGENT.md
  ARCHITECTURE.md
  Makefile
  README.md
  docs/README.md
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/branch_ui.py
  scripts/merge_ai.py
  scripts/tests/test_agent_orchestrator_advanced.py
  tests/python/test_ai_backend.py
  tests/python/test_ai_provider_plugins.py
  ui/app.js
  ui/package.json
Due: black, flake8, eslint

docs: sync architecture layout
  ARCHITECTURE.md
Due: none

docs: update project layout
  AGENT.md
  PATCHLOG.md
  PROJECT_LAYOUT.md
Due: none

scripts: add verify_all
  .github/workflows/ci.yml
  AGENT.md
  Makefile
  PATCHLOG.md
  README.md
  verify_all.sh
Due: none

Add verify-all target
  Makefile
  verify_all.sh
Due: none

Remove deprecated branch demo
  Makefile
  README.md
  examples/aos_cli.c
  examples/branch_demo.c
  examples/branch_smoke.sh
  subsystems/branch/branch.c
  subsystems/branch/branch.h
  tests/c/test_branch.c
Due: none

fix: clean merge markers
  AGENT.md
  CONTRIBUTING.md
  PATCHLOG.md
  README.md
  verify_all.sh
Due: none

Normalize task model and add API stubs
  .github/workflows/ci.yml
  Makefile
  docs/ai_providers.md
  docs/api.md
  docs/ci.md
  docs/coverage.md
  docs/orchestrator.md
  scripts/agent_orchestrator.py
  scripts/agent_runner.py
  scripts/ai_backend.py
  scripts/merge_ai.py
  src/api/__init__.py
  src/api/coverage.py
  src/api/events.py
  src/api/metrics.py
  src/branch/__init__.py
  src/branch/task_definitions.py
  tests/python/test_agent_retry.py
  tests/python/test_api_coverage.py
  tests/python/test_api_metrics.py
  tests/python/test_event_emitter.py
  tests/python/test_orchestrator_scaling.py
  tests/python/test_task_access.py
  tests/python/test_task_dependencies.py
  tests/python/test_task_model.py
Due: black, flake8

feat(ai): dynamic provider loader
  docs/ai_providers.md
  providers.json
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/ai_providers/echo_provider.py
  scripts/ai_providers/loader.py
  scripts/merge_ai.py
  tests/python/test_ai_provider_loader.py
  tests/python/test_ai_provider_plugins.py
Due: black, flake8

Add provider override flag
  AGENT.md
  PATCHLOG.md
  README.md
  scripts/agent_runner.py
  scripts/merge_ai.py
  tests/python/test_agent_runner_cli.py
Due: black, flake8

docs: expand ai provider guide
  docs/ai_providers.md
Due: none

feat(ai): add hot-reload for provider loader
  docs/ai_providers.md
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/ai_providers/loader.py
  scripts/merge_ai.py
  tests/python/test_provider_hotreload.py
Due: black, flake8

feat(ai): add echo and openai provider plugins
  docs/ai_providers.md
  providers.json
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/ai_providers/base.py
  scripts/ai_providers/echo_provider.py
  scripts/ai_providers/openai_provider.py
  scripts/merge_ai.py
  tests/python/test_ai_backend.py
  tests/python/test_ai_provider_plugins.py
Due: black, flake8

Fix plugin loader and cleanup
  README.md
  docs/REMAINING.md
  docs/ai_providers.md
  providers.json
  scripts/agent_orchestrator.py
  scripts/ai_backend.py
  scripts/ai_providers/echo_provider.py
  scripts/ai_providers/loader.py
  scripts/merge_ai.py
  tests/python/test_ai_provider_plugins.py
Due: black, flake8

Implement live metrics and coverage features
  Makefile
  config.yml
  docs/REMAINING.md
  docs/ai_providers.md
  docs/api.md
  docs/architecture-diagrams/metrics_coverage_flow.mmd
  docs/audit.md
  docs/ci.md
  docs/coverage.md
  requirements.txt
  scripts/agent_orchestrator.py
  scripts/ai_providers/loader.py
  scripts/aos_audit.py
  scripts/coverage_recorder.py
  src/api/branches.py
  src/api/coverage.py
  src/api/metrics.py
  tests/python/test_api_coverage_live.py
  tests/python/test_api_metrics.py
  tests/python/test_api_metrics_live.py
  tests/python/test_audit_newactions.py
  tests/python/test_merge_gatekeeper.py
  tests/python/test_metrics_crossplatform.py
  tests/python/test_provider_hotreload.py
  tests/python/test_provider_validation.py
  verify_all.sh
Due: black, flake8

Add branch target and smoke-test job
  .github/workflows/ci.yml
  Makefile
  docs/ci.md
  scripts/branch_cli.py
Due: black, flake8

chore(meta): archive closed baton-passes [agent-mem]
  AGENT.md
  PATCHLOG.md
  docs/REMAINING.md
  docs/audit.md
  scripts/ai_cred_manager.py
  scripts/aos_audit.py
  src/api/metrics.py
  tests/python/test_ai_provider_contract.py
  tests/python/test_cred_manager.py
  tests/python/test_metrics_failure.py
Due: black, flake8

feat(ci): add dev container and split scripts
  .devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  AGENT.md
  Dockerfile.dev
  Makefile
  PATCHLOG.md
  README.md
  docs/ci.md
  requirements-dev.txt
  requirements.txt
  scripts/ci-fast.sh
  scripts/ci-full.sh
Due: none

chore(deps): pin dev reqs [agent-mem]
  .github/workflows/ci.yml
  AGENT.md
  PATCHLOG.md
  README.md
  requirements-dev.txt
  scripts/agent_orchestrator.py
  scripts/ai_cred_manager.py
  scripts/ai_providers/loader.py
  scripts/ci-fast.sh
  scripts/ci-full.sh
  scripts/coverage_recorder.py
  setup.cfg
  src/api/coverage.py
  tests/python/test_ai_provider_contract.py
  tests/python/test_audit_newactions.py
  tests/python/test_merge_gatekeeper.py
  tests/python/test_provider_validation.py
Due: black, flake8

chore(meta): archive closed baton-passes [agent-mem]
  .gitignore
  AGENT.md
  PATCHLOG.md
  docs/REMAINING.md
  docs/ci.md
Due: none

ci: restore lint gate and pin deps
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  Makefile
  docs/ci.md
  requirements.txt
  scripts/ci-fast.sh
Due: none

feat(queue): Redis RQ task runner [agent-mem]
  requirements.txt
  scripts/jobqueue/__init__.py
  scripts/jobqueue/tasks.py
  scripts/jobqueue/worker.py
  src/api/coverage.py
  src/api/metrics.py
  src/api/ws.py
  src/service/__init__.py
  src/service/queue.py
  tests/python/test_queue_integration.py
Due: black, flake8

feat(auth): JWT stub [agent-mem]
  .gitignore
  AGENT.md
  PATCHLOG.md
  requirements-dev.txt
  requirements.txt
  scripts/agent_orchestrator.py
  scripts/branch_ui.py
  tests/python/test_api_branches_paging.py
  tests/python/test_auth_login.py
  ui/eslint.config.js
  ui/index.html
  ui/jest.config.js
  ui/package.json
  ui/src/__tests__/branchList.test.tsx
  ui/src/main.tsx
  ui/src/pages/BranchDetail.tsx
  ui/src/pages/BranchList.tsx
  ui/src/services/api.ts
  ui/tsconfig.json
  ui/vite.config.ts
Due: black, flake8, eslint

Add sandbox plugin registry
  requirements.txt
  scripts/ai_providers/loader.py
  scripts/ai_providers/plugin_runner.py
  scripts/plugins_cli.py
  tests/fixtures/echo_plugin/Dockerfile.sandbox
  tests/fixtures/echo_plugin/echo_plugin.py
  tests/fixtures/echo_plugin/provider.yaml
  tests/fixtures/echo_plugin/run_plugin.py
  tests/python/test_plugins_cli.py
Due: black, flake8

chore(meta): log provider safety & secrets [agent-mem]
  AGENT.md
  docs/audit.md
  pyproject.toml
  scripts/agent_orchestrator.py
  scripts/ai_cred_manager.py
  scripts/ai_providers/base.py
  scripts/cli/__init__.py
  scripts/cli/secrets.py
  scripts/flake8_provider.py
  src/api/metrics.py
  tests/python/conftest.py
  tests/python/test_api_failure.py
  tests/python/test_metrics_failure.py
  tests/python/test_provider_contract.py
Due: black, flake8

chore(sweep): post-merge cleanup [agent-mem]
  PATCHLOG.md
  docs/INDEX.md
  docs/async_queue.md
  docs/dashboard.md
  requirements.txt
  scripts/aos_audit.py
  scripts/jobqueue/__init__.py
  scripts/plugins_cli.py
  src/service/queue.py
  tests/python/test_cred_manager.py
  tests/python/test_plugins_cli.py
  tests/python/test_queue_integration.py
  ui/src/__tests__/branchList.test.tsx
  ui/src/main.tsx
  ui/src/pages/BranchDetail.tsx
  ui/src/pages/BranchList.tsx
  ui/src/services/api.ts
Due: black, flake8

chore(ci): drop obsolete ci-fast.sh [agent-mem]
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  AGENT.md
  docs/ci.md
  scripts/ci-fast.sh
Due: none

feat(obs): Prometheus exporter + Grafana dash [agent-mem]
  observability/grafana/aos_queue_dashboard.json
  src/observability/prom_exporter.py
  tests/python/test_prometheus.py
Due: black, flake8

feat(ci): health probes + k8s templates [agent-mem]
  k8s/deployment-api.yaml
  k8s/deployment-worker.yaml
  scripts/jobqueue/worker.py
  src/api/health.py
Due: black, flake8

meta: log autoscaler addition
  AGENT.md
  scripts/autoscaler/__init__.py
  scripts/autoscaler/daemon.py
  tests/python/test_autoscaler.py
  tests/python/test_plugins_cli.py
Due: black, flake8

chore(sweep): post-merge cleanup [agent-mem]
  .devcontainer.json
  .eslintrc.js
  AGENT.md
  examples/graph_sample.json
  mappings.json
  observability/grafana/aos_queue_dashboard.json
  tests/fixtures/echo_plugin/run_plugin.py
  ui/api.js
  ui/app.js
  ui/desktop.html
  ui/desktop.js
  ui/eslint.config.js
  ui/index.html
  ui/jest.config.js
  ui/metrics.js
  ui/vite.config.ts
Due: black, flake8, eslint

feat(sandbox): seccomp + caps drop [agent-mem]
  profiles/aos-seccomp.json
  scripts/ai_providers/plugin_runner.py
  tests/python/test_sandbox_seccomp.py
Due: black, flake8

feat(auth): JWT refresh & RBAC [agent-mem]
  scripts/branch_ui.py
  tests/python/test_auth.py
  tests/python/test_auth_login.py
  ui/src/RoleGuard.tsx
  ui/src/__tests__/roleGuard.test.tsx
  ui/src/main.tsx
  ui/src/pages/AdminPage.tsx
  ui/src/services/api.ts
Due: black, flake8

chore(security): headers + nightly CVE scan [agent-mem]
  .github/workflows/nightly.yml
  src/api/branches.py
  src/api/coverage.py
  src/api/health.py
  src/api/metrics.py
  src/api/ws.py
  src/observability/prom_exporter.py
  src/service/security.py
  ui/package.json
  ui/vite.config.ts
Due: black, flake8

chore(sweep): post-merge cleanup [agent-mem]
  AGENT.md
  ARCHITECTURE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  PATCHLOG.md
  README.md
  ROADMAP.md
  demo/docker-compose.yml
  docs/ai_plugin.md
  docs/ai_providers.md
  docs/api.md
  docs/async_queue.md
  docs/audit.md
  docs/generate_mappings.md
  docs/getting_started.md
  docs/ipc_protocol.md
  docs/merge_ai.md
  docs/security.md
  docs/system_architecture.md
  k8s/deployment-api.yaml
  k8s/deployment-worker.yaml
  providers.json
  subsystems/ai/README.md
  subsystems/branch/README.md
  subsystems/dev/README.md
  subsystems/net/README.md
  subsystems/security/README.md
  tests/python/test_auth.py
  tests/python/test_sandbox_seccomp.py
  ui/src/RoleGuard.tsx
  ui/src/__tests__/roleGuard.test.tsx
Due: black, flake8

feat(diff): branch diff API + UI [agent-mem]
  requirements.txt
  src/api/branch_diff.py
  tests/python/test_branch_diff.py
  ui/src/components/BranchDiff.tsx
  ui/src/pages/BranchDetail.tsx
Due: black, flake8

feat(ui): marketplace browser [agent-mem]
  scripts/cli/init.py
  ui/src/__tests__/marketplace.test.tsx
  ui/src/main.tsx
  ui/src/pages/BranchList.tsx
  ui/src/pages/Marketplace.tsx
  ui/src/services/api.ts
Due: black, flake8
